@import "vars";
@import "common";
@import "colors";
@import "font-awesome/scss/fontawesome";
@import "font-awesome/scss/solid";
@import "font-awesome/scss/brands";

%icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container {
  @extend %flex-one-column;
  align-items: stretch;
  overflow: hidden;
}

.app-header {
  height: $spacing * 8;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: $theme1;
  color: whitesmoke;
  border-bottom: 1px solid rgba($primary, 0.5);

  &__group {
    @extend %flex-one-row;
    align-items: stretch;
    &:last-child {
      justify-content: flex-end;
    }
  }
  &__item {
    @extend %reset-anchor;
    display: flex;
    align-items: center;
    justify-content: stretch;
    padding: $spacing ($spacing * 4);

    font-size: 1.3rem;

    text-decoration: none;
    color: $theme4;
    cursor: pointer;
    transition: none 0.5s ease;
    transition-property: color, background-color;
    &:hover {
      background: lighten($theme1, 5);
      transition: none 0.2s ease;
      transition-property: background-color, color;
      &:visited,
      &:link {
        text-decoration: none;
        color: lighten($theme4, 10);
      }
    }
  }

  &__icon {
    @extend %icon;
    @extend %fa-icon;
    @extend .fab;
    @extend %reset-anchor;
    justify-content: stretch;
    align-items: stretch;
    color: $theme4;
    margin-right: $spacing * 2;
    align-self: center;
    &--github {
      @extend .app-header__icon;
      &:before {
        content: fa-content($fa-var-github);
      }
    }
  }
}

.content {
  @extend %flex-one-column;
  padding: $spacing * 4;
  padding-top: $spacing * 8;
  overflow: auto;
  align-items: center;
  &::-webkit-scrollbar {
    border-radius: 10px;
    height: 5px;
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: $primary;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba($primary, 0.5);
  }
}

.app-footer {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  background: $theme1;
  border-top: 1px solid rgba($primary, 0.5);
  justify-content: space-between;
  align-items: center;

  margin-top: $spacing * 5;

  &__content {
    @extend %flex-one-row;
    justify-content: space-between;

    max-width: $contentWidth - 100px;
    width: 100%;
    p {
      margin-top: $spacing * 3;
      margin-bottom: $spacing * 5;
    }
  }
}
