@import "vars";
@import "common";

.list {
  @extend %flex-one-column;
}

.list-row {
  @extend %flex-one-row;
  justify-content: center;
  &__tile {
    @extend %flex-one-column;
    border: 1px solid black;
    display: flex;
    align-items: center;
    max-height: 200px;
  }
}
