/* HSL */
//$theme1: #153243;
//$theme2: #B3BFB8;
//$theme3: #D8DFDC;
//$primary: #BB0A21;
//$secondary: #00A6FB;
$theme1: #242423;
$theme2: #333533;
$theme3: #CFDBD5;
$theme4: #E8EDDF;
$primary: #F5CB5C;
$secondary: #28998A;
